<ion-view view-title="Demo for SMS Plugin">
  <ion-content>
    <div id="fullpage">
      <ion-list>
        <ion-item><button class="button" ng-click="test();">Test</button></ion-item>
        <ion-item>To</ion-item>
        <ion-item><input type="text" id="sendto" ng-model="text.sendto"></input></ion-item>
        <ion-item>Body</ion-item>
        <ion-item><input type="text" id="textmsg" ng-model="text.textmsg"></input></ion-item>
        <ion-item><button class="button" ng-click="sendSMS();">Send</button></ion-item>

        <ion-item><button class="button" ng-click="listSMS();">List Inbox (recent 10)</button></ion-item>
<!--         <ion-item><button class="button" ng-click="startWatch();">Start Watch</button></ion-item>
        <ion-item><button class="button" ng-click="stopWatch();">Stop Watch</button></ion-item>

        <ion-item><button class="button" id="enable_intercept" ng-click="toggleIntercept();">Enable</button></ion-item>
        <ion-item><button class="button" ng-click="restoreAllSMS();">Restore SMS</button></ion-item>
        <ion-item><button class="button" ng-click="updateStatus('');updateData('');smsList.length=0;">Clear</button></ion-item> -->
        
        <ion-item>
          Body
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
